$font-stack-default: "Roboto Slab", "Arial", sans-serif;
$font-stack-accent: "Raleway", "Times New Roman", sans-serif;

$color-text-primary: #0d3351;
$color-text-contrast: #ffffff;
$color-text-accent: #00a2dd;

$color-bg-primary: #ffffff;
$color-bg-contrast: #f3f3f3;

$color-decoration-primary: #33c7fd;
$color-decoration-accent: #f20542;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;

$width-wrapper-mobile: 290px;
$width-wrapper-tablet: 720px;
$width-wrapper-desktop: 1140px;
